* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 1rem;
  font-family: system-ui, sans-serif;
  color: black;
  background-color: white;
}

h1 {
  font-weight: 800;
  font-size: 1.5rem;
}
div button {
  display: inline-block;
  padding: 10px;
  cursor: pointer;
  background-color: #b7b4ff96;
  margin: 2px;
  box-shadow: 2px 2px rgba(0, 0, 0, 0.2);
  border: 0;
}
div button.active {
  font-size: 120%;
  margin: 4px;
  font-weight: bold;
  box-shadow: 2px 2px rgba(0, 0, 0, 0.4);
}
ul li {
  list-style-type: decimal;
  text-transform: capitalize;
}
.pagination-wrapper {
  position: relative;
  overflow: hidden;
  width: 50%;
}
.pagination {
  display: flex;
}
.pagination-controller {
  display: flex;
  transition: 0.3s ease-in-out;
}
.show {
  display: flex;
}
.hide {
  display: none;
}
