* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 1rem;
  font-family: system-ui, sans-serif;
  color: black;
  background-color: white;
}

h1 {
  font-weight: 800;
  font-size: 1.5rem;
}
div button {
  display: inline-block;
  padding: 15px 20px;
  cursor: pointer;
  background-color: #b7b4ff96;
  margin: 2px;
  box-shadow: 2px 2px rgba(0, 0, 0, 0.2);
  border: 0;
}
div button:nth-child(n + 3) {
  padding: 15px 40px;
}
div button.active {
  font-size: 120%;
  margin: 4px;
  font-weight: bold;
  box-shadow: 2px 2px rgba(0, 0, 0, 0.4);
}
ul li {
  list-style-type: none;
  text-transform: capitalize;
}
.pagination-wrapper {
  position: relative;
  overflow: hidden;
  width: 90%;
  min-height: 60px;
  scroll-behavior: smooth;
}
.pagination {
  display: flex;
}
.pagination-controller {
  display: flex;
  transition: 0.3s ease-in-out;
  position: relative;
  flex-wrap: nowrap;
}
.filter-buttons-wrapper {
  display: flex;
  position: relative;
}
.filter-buttons-wrapper:last-child {
  flex-grow: 1;
  justify-content: end;
}
.filter_drop_down {
  position: fixed;
  background: #94cbfc;
  display: flex;
  flex-direction: column;
  inset: 55px auto auto;
  z-index: 1000;
  margin: 0;
}
.show {
  display: flex;
}
.hide {
  display: none;
}
@media screen and (min-width: 320px) and (max-width: 769px) {
  .filter_drop_down {
    inset: 0 0 0 0 !important;
  }
}
